body {
  background-image: url("./img/background.avif");
  background-position: center ;
  background-attachment: fixed;
  background-size: cover;

}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh; 

}
.Input {
 position: fixed;
  bottom: 10px;
  width: 100%;
  padding:20px;
  border-radius: 20%;
  height: 5%;  
}
input:focus {
  outline: none;
}

.Messages-list {
  padding: 20px 10px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  height: 600px;
  overflow-anchor: none;

} 


.Messages-message {
  display: flex;
  margin-top: 2px;


}
.Messages-message.currentMember {
  justify-content: flex-end;
  flex-direction: row;
  text-align: center; 
}
.Message-content {
  display: table-row;
  transition: .2s;
  font-size: 10px;
  text-align: center;
}
.Message-content:hover {
  transform: scale(0.8);
  transition: .5s;
}
 .Message-content>.username {
  display: block;
  color: rgb(28, 100, 194);
  font-size: 14px;
  padding-bottom: 15px;
} 
.Message-content>.text {
  padding: 15px;
  max-width: 400px;
  margin: 0;
  border-radius: 100px;
  background-color: rgb(53, 157, 157);
  color: rgb(255, 255, 255);
  display: inline-block;

}
.currentMember>.Message-content .text {
  background-color: rgb(36, 33, 33);
}
form {
  display: flex;
  width: 90%;
  justify-content: space-between;
  max-width: 30%;
  margin: 0 auto 40px;
}
input {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid transparent;
  flex-grow: 1;
  border: 1px solid rgb(38, 144, 177);
}
button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(42, 53, 59);
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  border: 1px solid transparent;
  transition: .2s;
}
button:disabled {
  background-color: rgba(255, 68, 0, .5);
  color: rgba(255, 255, 255, .5);
  transition: .2s;
}
button:hover {
  background-color: transparent;
  color: rgb(12, 15, 158);
  border: 1px solid rgb(34, 78, 107);
  transform: scale(1.1);
  transition: .2s;
}
.Login {
    display: contents;
    width: 50%;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto 20px;
}
h1 {
  text-align: center;
  color: rgb(95, 153, 219);
}
.EnterUsername {
  min-width: 30%;
}
.username {
  padding-top: 5px;
}
@media screen and (max-width: 480px) {
  .App {
    height: 60px;
  }

  .App-title {
    padding-top: 15px;
  }

  
  h1 {
    font-size: 1em;
  }

  input,
  input::placeholder {
    font-size: .9em;
  }

}